.meme-generator{
    text-align: center;                         
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.meme-generator img{
    height: 430px;
    object-fit: cover;
}

.meme-generator .meme-generator-btn{
    padding: 8px 20px;
    border: none;
    border-left:4px solid #222;
    border-right:4px solid #222;
    margin:24px 0;
    font-size: 20px;
    color: red;
    background-color: aliceblue;
    cursor: pointer;
    transition:all 400ms ease;
}
.meme-generator .meme-generator-btn:hover{
    padding:8px 36px;
    border-left:8px solid #222;
    border-right:8px solid #222;
    letter-spacing:3px;
}
.meme-generator .meme-author{
    margin: 8px;
}
